<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method  ="POST">
        <div>
            <h3>Model </h3>
            <input type="text" name ="Model">
        </div>
        
        <div>
            <h3>Daily fee (VND)</h3>
            <input type="number" name = "Daily_fee">
        </div>
        <h3>Image</h3>
        <input type="text" name = "img">
        <h3>Year</h3>
        <input type="number" name = "year">

        <button>Submit</button>
    
    <form>
</body>