<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>ADD FOOD</h1>
    <form method = "POST">
        <div>
            <label for="" style="font-family:Cambria; color:rgb(250, 114, 198); font-size:250%">Name</label>
            <input type="text" name = "Name">
        </div> 
        <div>
            <label for="" style="font-family:Cambria; color:rgb(139, 114, 250); font-size:250%">Price</label>
            <input type="number" name = "Price">
        </div>
        <button style="font-size:100%; color:rgb(205, 203, 90)">Submit</button>
    </form>
</body>
</html>